---
layout: layouts/base.njk
pagination:
  data: publishedPosts
  size: 1
  alias: post
permalink: "blog/{{ post.slug }}.html"
assetPrefix: "../"
navCurrent: blog
eleventyComputed:
  pageTitleEl: "{{ post.seoTitleEl }}"
  pageTitleEn: "{{ post.seoTitleEn }}"
  pageDescriptionEl: "{{ post.seoDescriptionEl }}"
  pageDescriptionEn: "{{ post.seoDescriptionEn }}"
  canonicalUrl: "{{ site.url }}/blog/{{ post.slug }}"
---
<main id="main" class="wrap post-page" tabindex="-1">
  <a href="../blog.html" class="post-back" data-el="{{ site.ui.backToNewsEl }}" data-en="{{ site.ui.backToNewsEn }}">
    {{ site.ui.backToNewsEl }}
  </a>

  <article class="post-article">
    <header class="post-header">
      <div class="post-meta">
        <span class="blog-tag{% if post.tagStyle == 'announcement' %} blog-tag--announcement{% endif %}" data-el="{{ post.categoryEl }}" data-en="{{ post.categoryEn }}">
          {{ post.categoryEl }}
        </span>
        <time datetime="{{ post.publishDate }}" class="blog-date" data-el="{{ post.dateLabelEl }}" data-en="{{ post.dateLabelEn }}">
          {{ post.dateLabelEl }}
        </time>
      </div>
      <h1 data-el="{{ post.titleEl }}" data-en="{{ post.titleEn }}">{{ post.titleEl }}</h1>
    </header>

    <div class="post-body">
      <div data-lang-block="el" lang="el">{{ post.bodyEl | markdown | safe }}</div>
      <div data-lang-block="en" lang="en" hidden>{{ post.bodyEn | markdown | safe }}</div>
    </div>
  </article>
</main>